<mat-card>
    <mat-card-title>
        Posts
    </mat-card-title>
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let post of posts">
            <mat-expansion-panel-header>
                {{post.title}}
            </mat-expansion-panel-header>
            <p>{{post.content}}</p>
            {{post.userId}}
            {{userId}}
            {{isLoggedIn}}
            <mat-action-row *ngIf="isLoggedIn && userId == post.userId">
                <button mat-raised-button color="warn" (click)="onDeletePost(post.id)">Delete</button>
                <button mat-raised-button color="primary" [routerLink]="['edit',post.id]">Edit</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>