<mat-card>
    <mat-card-title>
        Edit Password
    </mat-card-title>
    <form [formGroup]="passwordForm" (submit)="onUserEdit()">
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input matInput type="password" class="form-control" formControlName="oldPass">

            <mat-error>
                <p *ngIf="passwordForm.controls['oldPass'].errors?.['required']">Old password is required</p>
                <p *ngIf="passwordForm.controls['oldPass'].errors?.['incorrectOldPass']">Incorrect old password</p>
            </mat-error>

        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPass">
            <mat-error>
                <p *ngIf="passwordForm.controls['newPass'].errors?.['required']">New password is required </p>
                <p *ngIf="passwordForm.controls['newPass'].errors?.['minlength']">Password should be atleast 6
                    characters long</p>
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPass">
            <mat-error>
                <p *ngIf="passwordForm.controls['confirmPass'].errors?.['required']"> Confirm password is required </p>
                <p *ngIf="passwordForm.controls['confirmPass'].errors?.['misMatch']">Passwords do not match</p>
            </mat-error>

        </mat-form-field>

        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary">Save</button>
        </mat-card-actions>
    </form>
</mat-card>