<mat-card>
    <mat-card-title>
        Profile Image
    </mat-card-title>
    <br />
    <br />
    <div div *ngIf="imageUrl">
        <div *ngIf="imageUrl" class="center">
            <img src="{{imageUrl}}">
        </div>
    </div>
    <div class="loadingImage" *ngIf="loading">Loading</div>


    <div>
        <button type="button" mat-raised-button name="image" (click)="fileInput.click()" *ngIf="!imageUrl">Add</button>
        <button type="button" mat-raised-button name="image" (click)="fileInput.click()" *ngIf="imageUrl">Edit</button>
        <input hidden (change)="onImagePicked($event)" #fileInput type="file" accept="image/png, image/jpeg" id="file">
        <button *ngIf="enableUpload" mat-raised-button (click)="onImageUpload()">Upload</button>
    </div>
    <div style="margin-top: 20px;">
        <button mat-raised-button *ngIf="imageUrl" (click)="onImageDelete()">Delete</button>
    </div>

    <br />
    <br />
    <mat-card-title>
        Edit Password
    </mat-card-title>
    <form [formGroup]="passwordForm" (submit)="onUserEdit()">
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input matInput type="password" class="form-control" formControlName="oldPass">

            <mat-error>
                <p *ngIf="passwordForm.controls['oldPass'].errors?.['required']">Old password is required</p>
                <p *ngIf="passwordForm.controls['oldPass'].errors?.['incorrectOldPass']">Incorrect old password</p>
            </mat-error>

        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPass">
            <mat-error>
                <p *ngIf="passwordForm.controls['newPass'].errors?.['required']">New password is required </p>
                <p *ngIf="passwordForm.controls['newPass'].errors?.['minlength']">Password should be atleast 6
                    characters long</p>
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPass">
            <mat-error>
                <p *ngIf="passwordForm.controls['confirmPass'].errors?.['required']"> Confirm password is required </p>
                <p *ngIf="passwordForm.controls['confirmPass'].errors?.['misMatch']">Passwords do not match</p>
            </mat-error>

        </mat-form-field>

        <mat-card-actions>
            <button [disabled]="loading" type="submit" mat-raised-button color="primary">Save</button>
        </mat-card-actions>
    </form>
</mat-card>